<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,700,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/trix@2.0.0/dist/trix.css">
    <script type="text/javascript" src="https://unpkg.com/trix@2.0.0/dist/trix.umd.min.js"></script>
    <link rel="stylesheet" href="/css/app.css">
    <title>{{nombrePagina}}</title>
</head>
<body>
    <div class="nombre-sitio contenedor">
        <h1><a href="/">devJobs</a></h1>
        
        {{#if usuario}}
            <div class="cerrar-sesion">
                <a href="/administracion">Administración</a>
                <a href="/auth/cerrar-sesion">Cerrar sesión</a>
            </div>
        {{else}}
            <div class="cerrar-sesion">
                <a href="/auth/iniciar-sesion">Iniciar sesión</a>
            </div>
        {{/if}}

    </div>

    <header class="site-header contenedor separador">
        <h2> {{nombrePagina}} </h2>
        {{#if tagline}}
            <p class="tagline">{{tagline}}</p>
        {{/if}}

        {{#if boton}}
            <a href="/vacantes/nueva" class="btn btn-azul">Publicar nueva vacante</a>
        {{/if}}
    </header>

    <div class="contenido-principal contenedor">

        {{#if err.length}}
        <div class="alertas">
            {{#each err}}
                <p class="alerta error">{{this}}</p>
            {{/each}}
        </div>
        {{/if}}
        {{#if errores.length}}
        <div class="alertas">
            {{#each errores}}
                <p class="alerta error">{{this.msg}}</p>
            {{/each}}
        </div>
        {{/if}}

        {{#if msg.length}}
        <div class="alertas">
            {{#each msg}}
                <p class="alerta correcto">{{this}}</p>
            {{/each}}
        </div>
        {{/if}}
        
        {{{body}}}
        
    </div>
    <script src="/js/app.js"></script>
</body>
</html>